*{
    margin:0;
    padding: 0;
}
body{
  background-image: url(../images/blogbg.jpg);
    background-size: cover;
    width: 100%;
  /*  animation: animation 100s linear infinite;*/
}
.b-main{
    height: 1000px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}
.card {
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 270px;
    margin-bottom: 10px;
    background-color: rgb(251, 251, 251);
    box-shadow: 0 4px 8px 0 rgba(3, 1, 1, 0.2);
    transition: 0.3s;
  }
  .card-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
.cardg {
    width: 100%;
}
.cardg img{
    width: 100%;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card-info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
  }
  .card-inner {
    padding: 2px 16px;
  }
  
  @media screen and (max-width: 600px) {

  }
  /*@keyframes animation {
    100%{
     background-position:0px -3000px;
   }*/